.PodEpisode {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 250px;
  transition: all 0.3s ease-in-out;
}

.PodEpisode:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.PodEpisode h4 {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

.PodEpisode span {
  font-size: 14px;
  color: #666;
}

.PodEpisode img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 0;
  margin: 10px;
}

.PodEpisode p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.PodEpisode button {
  background-color: #8bc34a;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
}

.PodEpisode button:hover {
  background-color: #7cb342;
}

.PodEpisode button:active {
  background-color: #689f38;
}

.PodEpisode button:first-child {
  background-color: #337ab7;
}

.PodEpisode button:first-child:hover {
  background-color: #23527c;
}

.Completed {
  color: #666;
  font-size: 14px;
  margin-left: 10px;
}

.Favorite {
  color: #ff69b4;
  font-size: 14px;
  margin-left: 10px;
}
